/*********************************************************
-------------------------- Haze --------------------------
Design: apopagasm
CSS: Exanurous
Style derived from Gazelle Postmod
*********************************************************/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,bold);
@import url(https://gitcdn.xyz/repo/pulgalipe/haze-minimal/master/layout-grayscale.css);

/* Background Image */
body {background-color: #424242;}
#logo a {background: url('http://i.imgur.com/z2GtTkT.png') no-repeat top left;background-size: 250px 58px;}
.read {background: url('https://i.imgur.com/2iuJIm7.png') no-repeat center center;}
#extra3:after {background-color: #000;}
.read_locked_sticky { background: url(https://i.imgur.com/9kbxnhM.png) no-repeat center center;}
.filter_torrents {
    border-radius: 6px
}
div#menu #nav_torrents a {
	border-top-left-radius: 6px;
  border-bottom-left-radius: 6px
}
td.avatar img {
    border-radius: 6px
}
